*.py[cod]
__pycache__/
*.pyo
*.pyd
*.so

.env/
.venv/
venv/
env/
ENV/

build/
dist/
.eggs/
*.egg-info/
*.whl

.pytest_cache/
.coverage
htmlcov/
.nox/
.mypy_cache/
.ruff_cache/

docs/_build/
docs/html/
*.pdf

sim_build/
*.vvp
*.log
*.xml

.vscode/
.idea/
.DS_Store
Thumbs.db


# generated stubs
*.pyi

*.dutdoc.md

copra_demo_output